/* Base Styles */
:root {
  --midnight-mirage: #001f3f;
  --nuit-blanche: #1e488f;
  --yellow-color: #d9e74c;
  --mantis: #75c566;
  --book-green: #00804c;
  --praxeti-white: #f6f7ed;
  --shadow-color: #d9d9d9;
  --text-color: #000000;
  --text-light: #fff;
  --hover-color: #1b538b;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: var(--text-color);
  line-height: 1.6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
label {
  font-family: "Rubik One", cursive;
}

a {
  text-decoration: none;
}

/* Cards Style */
.wrapper {
  width: 100%;
  border: 1px solid #333;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.menu {
  float: left;
  width: 75%; /* sisakan ruang untuk sidebar */
}

.card {
  width: 18%; /* Untuk 5 card per baris, ganti jadi 23% jika hanya 4 card */
  border: 1px solid #aaa;
  border-radius: 4px;
  float: left;
  margin: 1%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.card img {
  width: 100%;
  height: 100px;
  background: #ccc;
  margin-bottom: 10px;
}

.card button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ddd;
  border: 1px solid #888;
  cursor: pointer;
}

.sidebar {
  float: right;
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
}

.sidebar h3 {
  margin-top: 0;
}

/* Responsif */
@media screen and (max-width: 768px) {
  .card {
    width: 48%;
  }

  .menu,
  .sidebar {
    width: 100%;
    float: none;
  }
}
