/* Base Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik+One&display=swap");

/* Color Variables */
:root {
  --midnight-mirage: #001f3f;
  --nuit-blanche: #1e488f;
  --yellow-color: #d9e74c;
  --mantis: #75c566;
  --book-green: #00804c;
  --praxeti-white: #f6f7ed;
  --shadow-color: #d9d9d9;
  --text-color: #000000;
  --text-light: #fff;
  --hover-color: #1b538b;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(64, 100%, 92%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: var(--praxeti-white);
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: var(--midnight-mirage);
  border: none;
  border-radius: 6px;
  color: var(--praxeti-white);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--hover-color);
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

h1,
h2,
h3,
label {
  font-family: "Rubik One", cursive;
}

a {
  text-decoration: none;
}

/* Cards Style */
.wrapper {
  width: 100%;
  border: 1px solid #333;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.menu {
  float: left;
  width: 75%; /* sisakan ruang untuk sidebar */
}

.card {
  width: 250px; /* Untuk 5 card per baris, ganti jadi 23% jika hanya 4 card */
  border: 1px solid #aaa;
  border-radius: 4px;
  float: left;
  margin: 1%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.card img {
  width: 100%;
  height: 100px;
  background: #ccc;
  margin-bottom: 10px;
}

.card button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ddd;
  border: 1px solid #888;
  cursor: pointer;
}

.sidebar {
  float: right;
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
}

.sidebar h3 {
  margin-top: 0;
}

/* Responsif */
@media screen and (max-width: 768px) {
  .card {
    width: 48%;
  }

  .menu,
  .sidebar {
    width: 100%;
    float: none;
  }
}
